**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.Python
**/env
**/venv
**/.venv
**/node_modules
**/.next
**/coverage
**/.pytest_cache
.git
.gitignore
**/.DS_Store
**/db.sqlite3
**/media
**/staticfiles
**/.mypy_cache
**/.ruff_cache
**/.cache